# Author: Matt Cooper (https://github.com/mgcooper)
# .aliases (c) 2025, Matt Cooper
# sourced by .zshrc, .bash_profile

# to test a new alias try `type <alias>`

alias cp='cp -iv'
alias mv='mv -iv'
alias mkdir='mkdir -pv'
# May 2025, replaced ls with lsd
# alias ls='ls -AGhl' 						    # all file names with human readable output
# alias lsdots='ls -d .*'
alias ls='lsd -Alh --group-dirs=first'          # like ls -AGhl
alias lsdots='lsd -Alhd --group-dirs=first .*'  # like ls -d .* (show dotfiles, human-readable, long)
alias path='echo -e ${PATH//:/\\n}'             # Echo all executable Paths
alias home='cd $HOME'
alias back='cd $OLDPWD'
alias which='command -v'      				    # Find the first executable in PATH (works in Bash & Zsh)
alias whichall='type -a'      				    # Show all definitions (alias, builtin, function, path)
alias update='brew update && brew upgrade && brew cleanup && pipx upgrade-all && mamba update -n base mamba -y && conda update -n base conda -y && zimfw install && zimfw update && zimfw clean && zimfw compile'
alias less='less -R'
alias wget='wget -c'
alias reload='source ~/.zprofile && exec zsh'
# alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

alias cdp='cd $HOME/work/projects'
alias cdpm='cd $HOME/MATLAB/projects'
alias cddata='cd $HOME/work/data'
# alias cdenvs='cd /usr/local/anaconda3/envs'

# git
# Could remove these if enabling Zim's git module, but need to confirm overlap
alias gsu='git status -u'
alias gsur='git status -u && git remote show origin'
alias ga='git add -v' # verbose
alias gap='git add -p' # patch (interactive)
alias gall='git add --all'
alias gd='git diff -w' # ignore whitespace
alias gdstaged='git diff -w -D --staged --color=always'
alias gb='git branch -a'
alias gcm='git commit -m'
alias grm='git rm --cached'
alias gco='git checkout'
alias gcob='git checkout -b'

# dotfiles
alias dotfiles='$BREWBIN/git --git-dir=$HOME/.files/ --work-tree=$HOME'
alias dotfiles-untracked-all='dotfiles ls-files --others'
# alias dotfiles-untracked-top='dotfiles ls-files --others --exclude-standard --directory -- .??*'
# alias dotfiles-untracked-deep='dotfiles ls-files --others --exclude-standard -- .??*'
alias dsu='dotfiles status' # prevent accidentally trying -u (will list ALL FILES!!)
alias da='dotfiles add -v'
alias dap='dotfiles add -p'
alias dall='dotfiles add' # prevent accidentally adding ALL FILES!!
alias dd='dotfiles diff -w' # ignore whitespace
alias ddstaged='dotfiles diff -w -D --staged --color=always'
alias db='dotfiles branch'
alias dcm='dotfiles commit -m'

# shortcuts to open files
alias homefiles='code $HOME/'
alias venvfiles='code $HOME/.virtualenvs'
alias notes='code $HOME/work/notes/notes.code-workspace'
alias cheat='code $USER_PROJECT_PATH/cheat-sheets/ '
alias bashrc='mate $HOME/.bashrc'
alias bashprofile='mate $HOME/.bash_profile'
alias bashaliases='mate $HOME/.aliases'
alias bashfunctions='mate $HOME/.functions'
alias bashexports='mate $HOME/.exports'
alias bashprompt='mate $HOME/.bash_prompt'
alias bashextra='mate $HOME/.extra'
alias bashnotes='mate $HOME/.dotnotes'
alias gitconfig='mate $HOME/.gitconfig'
alias opentext='open -a TextMate'
alias openmd='grip -b'

#   cleanupDS:  Recursively delete .DS_Store files
#   -------------------------------------------------------------------
alias cleanupDS="find . -type f -name '*.DS_Store' \( -ls -o -print \) -delete"



# --- Setup: list only the dotfolders you *want* to recurse into
typeset -ga DOTDIRS=(.config)  # edit as needed

# 1) Only untracked *dotfiles* in $HOME (top level only; no directories)
dotfiles-untracked-top() {
  (
    builtin cd -- "$HOME" || return
    # .??*(N.) => dotfiles of length >= 3 chars (avoids . and ..), N=nullglob, . = files only
    local -a specs=( .??*(N.) )
    # If you also want single-letter names like ".a", use .?*(N.)
    dotfiles ls-files -o --exclude-standard -- $specs
  )
}

# 2) Untracked top-level dotfiles *plus* everything inside selected dotfolders (and their subfolders)
dotfiles-untracked-deep() {
  (
    builtin cd -- "$HOME" || return
    local -a specs=( .??*(N.) )
    local d
    for d in $DOTDIRS; do
      [[ -d $d ]] && specs+=( "$d" )   # passing the dir lets git recurse inside it
    done
    dotfiles ls-files -o --exclude-standard -- $specs
  )
}

# Optional aliases to match your style
alias dotfiles-untracked-top='dotfiles-untracked-top'
alias dotfiles-untracked-deep='dotfiles-untracked-deep'


# legacy bash ones, keep for now
# alias update='brew update && brew upgrade && brew cleanup' # before switching to zsh
# alias reload='source ~/.bash_profile'
# cd
# alias ..='cd ..'
# alias ...='cd ../..'
# alias ....='cd ../../..'
# alias .....='cd ../../../..'
# alias ......='cd ../../../../..'
