# ~/.zimrc — Zim module configuration

# Core modules
zmodule environment 		# Sets sane Zsh built-in environment options.
zmodule git					# Provides handy git aliases and functions.
zmodule input				# Applies correct bindkeys for input events.
zmodule termtitle			# Sets a custom terminal title.
zmodule utility				# Utility aliases and functions. Adds colour to ls, grep and less.

# gpt suggestions - should I activate any?
# zmodule history
# zmodule directory
# zmodule prompt

# Prompt-related
zmodule duration-info 		# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule git-info			# Exposes git repository status information to prompts, used by asciiship.

# Completion
zmodule zsh-users/zsh-completions --fpath src 	# Additional completion definitions for Zsh.
zmodule conda-incubator/conda-zsh-completion
zmodule completion 								# Enables and configures smart and extensive tab completion.
												# completion must be sourced after all modules that add completion definitions.

# Must come last (strict order!)
zmodule zsh-users/zsh-syntax-highlighting		# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-history-substring-search	# Fish-like history search (up arrow) for Zsh. 
												# Must be sourced after zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-autosuggestions			# Fish-like autosuggestions for Zsh.
